   
   body{
    background-color:aquamarine;
    box-sizing:border-box;

   }
   div{
     align-items:center;
     width:100%;
     height:200px;
     display:flex;
     justify-content:centerr ;
   }
    h2
    {
      color:orange;
      font-size:20px;
    }